.containerCategoriesHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.categoriesHeader {
    /*border: 1px solid #ba181d;*/
    width: 22%;
    height: 120px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.categoriesFooter {
    /*border: 1px solid #ba181d;*/
    width: 18%;
    height: 140px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.categoriesHeaderText {
    /*color: #ba181d;*/
    font-size: x-large;
}